@-webkit-keyframes fade {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slow-fade {
  opacity: 0;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body {
  margin: 0;
  padding: 0;
  background-color: #152029;
  color: #FCFCFA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5PX;
  line-height: 1.6;
}

body P {
  font-size: 15px;
  font-weight: 200;
  color: #FCFCFA;
  line-height: 1.8;
}

body ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

body li {
  list-style: none;
}

body h1 {
  font-weight: 700;
  color: #FCFCFA;
  margin: 1em;
  padding: 0;
  letter-spacing: 0.2em;
}

body button {
  padding: 1em 2em;
  background-color: #EFCF47;
  font-size: 15px;
  font-weight: 600;
  color: #1E2D3A;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 3em;
}

.content-margin {
  margin: 120px 80px;
  padding: 0px;
}

@media (min-width: 900px) {
  .main-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.3fr 1fr;
        grid-template-columns: 0.3fr 1fr;
  }
}

@media (max-width: 900px) {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #152029;
    z-index: 400;
  }
}

nav ul {
  margin: 0;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-logo {
  opacity: 0;
  width: 70px;
  margin: 1em;
  padding: 0;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.icon {
  width: 55px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (min-width: 900px) {
  .menu {
    display: none;
  }
}

.menu-square {
  width: 13px;
  height: 13px;
  background-color: #EFCF47;
  border: 2px solid #020202;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@media (max-width: 900px) {
  .expand-menu {
    position: absolute;
    top: 0px;
    z-index: 500;
    width: 100%;
    height: 0;
    margin-top: 20px;
    overflow: hidden;
    -webkit-transition: height .4s;
    transition: height .4s;
    background-color: #152029;
  }
}

@media (min-width: 900px) {
  .expand-menu {
    height: 100%;
    position: fixed;
    z-index: 400;
  }
}

.expand-menu ul {
  margin: 0;
  padding: 20px;
}

.expand-menu li {
  text-align: center;
  margin: 0;
  padding: 1.5em;
}

@media (min-width: 900px) {
  .expand-menu li {
    font-size: 14px;
    color: #FCFCFA;
  }
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-close div {
  display: inline-block;
}

@media (min-width: 900px) {
  .btn-close {
    display: none;
  }
}

@media (max-width: 900px) {
  .expand-show {
    height: 100%;
    position: fixed;
    top: 0;
  }
}

.is-active {
  font-weight: 800;
}

.title {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.margin-top {
  margin-top: 8em;
  text-align: center;
}

.margin-top h4 {
  font-weight: 600;
  color: #FCFCFA;
}

.small-words {
  font-size: 10px;
}

.container {
  margin: 2em;
  padding: 1em;
  max-width: 1200px;
}

.container li {
  margin-top: 8em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  .container li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

.show-case {
  width: 100%;
}

.project-title {
  font-size: 16px;
  font-weight: 400;
  color: #FCFCFA;
  letter-spacing: 2px;
  text-align: center;
}

@media (min-width: 900px) {
  .project-title {
    font-size: 23px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: block;
    margin-top: 5em;
  }
}

.icon-head {
  width: 150px;
}

.style-grid {
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: 5em;
}

@media (min-width: 900px) {
  .style-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 1.5fr;
        grid-template-columns: 0.5fr 1.5fr;
  }
}

.contact-section {
  background-color: #EFCF47;
  margin: 0 0 3em 0;
  padding: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  .contact-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.contact-section h1 {
  color: #1E2D3A;
}

.contact-section a {
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 5px;
  background-color: #1E2D3A;
  font-size: 18px;
  font-weight: 600;
  color: #EFCF47;
}

@media (max-width: 900px) {
  .gallery {
    margin: 200px 50px;
    padding: 0;
  }
}

@media (min-width: 900px) {
  .gallery {
    margin-left: 100px;
  }
}

.gallery section {
  margin-bottom: 100px;
}

@media (max-width: 900px) {
  .imgs-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 900px) {
  .imgs-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 900px) {
  .thumbnails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.hero-img {
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hero-img:hover {
  opacity: 0;
}

@media (min-width: 900px) {
  .responsive-style {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .icon-imgs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.project-container {
  text-align: center;
  margin: 120px 80px;
  padding: 0;
}

.project-container h1 {
  font-weight: 400;
}

@media (min-width: 900px) {
  .project-container h1 {
    font-size: 32px;
  }
}

@media (min-width: 900px) {
  .project-container {
    margin: 50px;
    padding: 0;
  }
}

.project-container section {
  margin-bottom: 200px;
}

.link-btn {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  width: 180px;
  margin: 1em;
  padding: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #1E2D3A;
  background-color: #EFCF47;
}

.in-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.in-row img {
  margin-right: 20px;
}

@media (min-width: 900px) {
  .two-columns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 2.5fr;
        grid-template-columns: 1.5fr 2.5fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.video-wrapper {
  margin: 50px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
}

.video {
  position: absolute;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=style.css.map */