$darkblue: #1E2D3A;
$yellow: #EFCF47;
$white: #FCFCFA;
$black: #020202;
$iconSize: 55px;
$square-size:13px;

$mainFontSize: 14px;
$sFontSize: 10px;


body{
  background-color: $darkblue;
  color:$white;
  box-sizing: border-box;
  margin:0;
  padding: 1em;
  font-family: 'Open Sans', sans-serif;

  h1{
    font-weight: 700;
    margin:1em;
    letter-spacing:0.2em;
  }
}
nav {
  ul{
  padding-inline-start: 0px;
  margin:10px;
  display: grid;
  justify-content: start;
  grid-template-columns: 1fr auto;
  justify-items: start;
  align-items: center;
 }
}
li{
  list-style: none;
}
.icon-logo{
  width: $iconSize;
}
.menu{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.menu-square{
  width: $square-size;
  height: $square-size;
  background-color: $yellow;
  border:2px solid $black;
}

// style for title
.title-section{
  text-align: center;
  h4{
    font-weight: 600;
  }
}
.small-words{
  font-size: $sFontSize;
}