// style materials ********************************
$darkblue: #1E2D3A;
$yellow: #EFCF47;
$white: #FCFCFA;
$black: #020202;
$iconSize: 55px;
$headIcon:150px;
$logoSize:70px;
$square-size:13px;
$mainFontSize: 15px;
$sFontSize: 10px;
$mediumWeight:600;
$heavyWeight:800;
$connerRadius:5px;




@mixin absolute($top:null,$left:null,$right:null,$bottom:null){
  position: absolute;
  top:$top;
  left:$left;
  right:$right;
  bottom:$bottom;

}

@mixin flexStyle($direction:row, $justify:flex-end){
  display: flex;
  position: static;
  justify-content: $justify;
  align-items: stretch;  
  flex-direction: $direction;
}

@mixin gridStyle($coloum:null, $row:null,){
 display:grid;
 grid-template-columns: $coloum;
 grid-template-rows: $row;
}

@mixin fontStyle($size:null,$weight:null,$color:$white){
  font-size: $size;
  font-weight: $weight;
  color:$color;
}

@mixin marginAndPadding($margin:0, $padding:0){
  margin:$margin;
  padding:$padding;
}

// responsive *****************************
@mixin breakpoint ($point){
  @if $point =="mobile" {
@media (max-width:900px) {@content}
}
  @else if $point =="laptop"{
   @media (min-width:900px){ @content }
}
}

@keyframes fade {
  from{
    transform: translateY(-100px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
@mixin animation ($name, $time,$function,$delay,$mode){
  animation-name:$name;
  animation-duration: $time;
  animation-timing-function: $function;
  animation-delay: $delay;
  animation-fill-mode: $mode;
}
.fade-in{
  @include animation(fade, 0.8s, ease-in,0s,forwards);
}
.slow-fade{
  opacity: 0;
  @include animation(fade, 0.8s, ease-in, 0.5s,forwards);
}

// basic shared style***********************

body{
  @include marginAndPadding();
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // background: -webkit-linear-gradient( to left top,$darkblue, $black);
  // background: -moz-linear-gradient( to left top,$darkblue, $black);
  // background: -ms-linear-gradient( to left top,$darkblue, $black);
  // background: -o-linear-gradient( to left top,$darkblue, $black);
  // background: linear-gradient( to left top,$darkblue, $black);
  background-color: darken($darkblue, 5%);
  color:$white;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5PX;
  line-height: 1.6;
  P{
    @include fontStyle($mainFontSize,200);
    line-height: 1.8;
  }
  ul{
    padding-inline-start:0px;
  }
  li{
    list-style: none;
  }
  h1{
    @include fontStyle($weight:700);
    @include marginAndPadding(1em);
    letter-spacing:0.2em;
  }
  button{
    padding: 1em 2em;
    background-color: $yellow;
    @include fontStyle($mainFontSize, $mediumWeight, $darkblue);
    border: 2px solid black;
    border-radius: $connerRadius;
    margin-top: 3em;
  }
}

.content-margin{
  @include marginAndPadding(120px 80px,0px)
}
.main-container{
  // @include breakpoint("mobile"){
  //   @include gridStyle(1fr)
  // };
  @include breakpoint("laptop"){
    // @include flexStyle();
    @include gridStyle(0.1fr 1fr);
  }
}
// style for navigation bar*********************


nav {
  @include breakpoint("mobile"){
    position:fixed;
    top:0;
    width:100%;
    background-color:darken($darkblue,5%);
    z-index:400;
  }
  ul{
  // background-color:darken($pink,5%);
  @include marginAndPadding(0,10px);
  @include gridStyle(1fr auto, 1fr);
  justify-content: start;
  justify-items: start;
  align-items: center;
 }
}
.icon-logo{
  opacity: 0;
  width: $logoSize;
  @include marginAndPadding(1em);
  @include animation(fade, 1s, ease-in,0s,forwards);
  
}
.icon{
  width:$iconSize;
  align-self: stretch;
}
.menu{
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include breakpoint("laptop"){
    display:none;
  }
}

.menu-square{
  width: $square-size;
  height: $square-size;
  background-color: $yellow;
  border:1px solid $black;
  transition: transform 0.5s; 
}
// .expand{
//   // transform: scale(0);
//   transform: translateY(-9px);
// }
// .move-up{
//   transform: translateY(-9px);
// }

// expanded menu ***********************
.expand-menu{
  @include breakpoint("mobile"){
  width: 100%;
  height:0;
  margin-top:20px;
  overflow: hidden;
  transition: height .4s;
  background-color:darken($darkblue,5%);
  }

  @include breakpoint("laptop"){
    height:100%;
    position:fixed;
    z-index: 400;
    margin-top: 80px;
  }
  ul{
    @include marginAndPadding(0, 20px);
    @include gridStyle(1fr);
    justify-items: center;
  }
  li{
    text-align: center;
    @include marginAndPadding($padding:1.5em);
    @include breakpoint("laptop"){
      // display: inline;
      @include fontStyle($size:14px);
    }
  }
}

.expand-show{
  @include breakpoint("mobile"){
    height:100%;
  }  
}

.is-active{
  font-weight: $heavyWeight;
}







// style for title**********************************
.title{
  opacity: 1;
  transform: translateY(0);
  transition: all 1s;
}
.margin-top{
  margin-top:8em;
  text-align: center;
  h4{
    @include fontStyle($weight:600);
  }
}
.small-words{
  font-size: $sFontSize;
}

// style for work page************************************
.container{
  @include marginAndPadding(2em, 1em);
  max-width: 1200px;
 li{
   margin-top:8em;
   @include gridStyle(1fr);
   justify-content: center;
   justify-items: center;
   align-items: center;
   @include breakpoint("laptop"){
     @include gridStyle(1fr 2fr);
   }
 }
}


.show-case{
  width:100%;
}
.project-title{
  @include fontStyle(16px, $weight:400,$color:$white);
  // line-height: 1.6;
  letter-spacing: 2px;
  text-align: center;
  @include breakpoint("laptop"){
    font-size: 23px;
    grid-column: 1/2;
    display: block;
    margin-top:5em;
  }
}

// ABOUT page style****************************
.icon-head{
  width:$headIcon;
}
.style-grid{
  justify-items: center;
  justify-content: center;
  align-items: center;
  @include gridStyle(1fr);
  margin-top:5em;

  @include breakpoint("laptop"){
    @include gridStyle(0.5fr 1.5fr )
  }
}

.contact-section{
  background-color: $yellow;
  @include marginAndPadding(0 0 3em 0,2em);
  @include gridStyle(1fr,1fr 1fr );
  justify-items: center;
  align-items: center;
  @include breakpoint("laptop"){
    @include gridStyle(2fr 1fr, 1fr);
  }
  h1{
    color:$darkblue;
  }
  a{
    text-decoration: none;
    padding:1em 2em;
    border-radius: $connerRadius;
    background-color: $darkblue;
    @include fontStyle(18px, $mediumWeight, $yellow)
  }
}


// GALLERY ***********************************
.gallery{
  @include breakpoint("mobile"){
    @include marginAndPadding(200px 50px);
  }
  @include breakpoint("laptop"){
    margin-left: 100px;
  }
  section{
    margin-bottom: 100px;
  }
}
.imgs-group{
  @include breakpoint("mobile"){
    @include flexStyle(column,center);
  };
  @include breakpoint("laptop"){
    @include flexStyle(row,center);
  }
}
.thumbnails{
  @include breakpoint("mobile"){
    @include flexStyle(row,space-around);
  }
}

.hero-img{
  position: absolute;
  top:0;
  transition:all 0.5s;
}
.hero-img:hover{
  opacity: 0;
}
.responsive-style{
  @include breakpoint("laptop"){
    @include gridStyle(1fr 1fr, 1fr 1fr );
  }
}
.icon-imgs{
  @include breakpoint("laptop"){
    @include gridStyle(1fr 1fr );

  }
}


// project shared style**********************
.project-container{
  h1{
    font-weight: 400;
    @include breakpoint("laptop"){
      font-size: 32px;
    }
  }
  text-align: center;
  @include marginAndPadding(120px 80px);

  @include breakpoint("laptop"){
    @include marginAndPadding(50px);
  }
  section{
    margin-bottom: 200px;
  }

}
.link-btn {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: $connerRadius;
    width:180px;
    @include marginAndPadding(1em, 20px);
    @include fontStyle(15px,600,$darkblue);
    background-color: $yellow;
}
.in-row{
  @include flexStyle(row, center);
  img{
    margin-right: 20px;
  }
}

.two-columns{
  @include breakpoint("laptop"){
    @include gridStyle(1.5fr 2.5fr,1fr);
    align-items: center;
  }
}

// video style ****************************
.video-wrapper{
  margin: 50px 10px;
  justify-content: center;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
}
.video{
  position: absolute;
  top: 0;
  left: 0;
}